<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://martinfekete10.github.io/Tuneful/Support/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>QKWHklCXwSX+2xNgAy9ySM9gl7PQZZiy6a59E6sH2ag=</string>
</dict>
</plist>
